.form-wrapper {
    background-color: white;
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* width: 400px; */
}

.form-group {
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
}

.workout-box {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-box h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.workout-box p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0 0;
}
