/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */

#root {
    width: 100%;
    /* height: 100%; */
    /* margin: auto; */
    /* padding: 2rem; */
    /* text-align: center; */
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: #191a1b;
    font-family: "Inter", Sans-serif;
    background-color: rgb(231 236 239);
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    min-height: 85vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    height: 7.5vh;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: black;
    margin: 0 15px;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    min-height: 100px;
    font-family: inherit;
    resize: none;
}

footer {
    height: 7.5vh;
    bottom: 0;
    padding: 20px;
    opacity: 0.5;
    font-size: 14px;
    background-color: white;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1.5px solid #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.modal {
    width: 45rem;
    position: absolute;
    max-height: 90vh;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 6px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: black;
    margin: 16px;
}

@media (min-width: 930px) {
    .modal {
        width: 45rem;
        left: calc(50% - 20rem);
        border-radius: 14px;
    }
}

/*-------------------------------------------------*/

.workout-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    width: 90%;
    margin: 80px auto;
}

@media (min-width: 320px) {
    .workout-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 640px) {
    .workout-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1120px) {
    .workout-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.workout-item {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #ccc;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    background-color: white;
}

.workout-item:hover {
    transform: scale(1.03);
}

.workout-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    padding: 5px 0px;
}

.workout-item img {
    object-fit: cover;
    width: 100%;
    min-height: 60%;
    height: auto;
}

.workout-item h3 {
    font-size: 1.5rem;
    padding: 12px;
}

.workout-item p {
    padding: 12px;
    font-size: 20px;
    color: #444;
}

/*-------------------------------------------------*/

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
}

.home h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.home p {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 20px;
}

/*-------------------------------------------*/

.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    margin: 0px 30px;
}

.not-found-heading {
    font-size: 6rem;
    font-weight: bold;
    color: #dc3545;
}

.not-found-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
