.auth-wrapper {
    height: 85vh;
    display: flex;
}

.auth-container {
    width: 320px;
    margin: auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.auth-footer {
    margin-top: 15px;
    font-size: 14px;
}

.auth-footer a {
    color: #007bff;
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}
